<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header h4 fw-bold">
          Import Budgets
        </div>
        <div class="card-body">
          <%= turbo_frame_tag "import_preview" do %>
            <%= form_with url: import_preview_budgets_path, local: true, multipart: true do |form| %>
              <div class="mb-3">
                <%= form.label :file, "Select File" %>
                <%= form.file_field :file, class: "form-control" %>
              </div>
              <div class="text-end">
                <%= form.submit "Preview Import", class: "btn btn-primary" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function toggleSelectAll(selectAll) {
    const checkboxes = document.querySelectorAll(`#budgets .budget-checkbox`);
    checkboxes.forEach(checkbox => {
      checkbox.checked = selectAll;
    });
  }
</script>