<%= form_with model: @loan, local: true, html: { class: 'form-horizontal', data: { controller: 'form', action: 'submit->form#submit' } } do |form| %>
  <div class="form-floating mb-3">
    <%= form.text_field :loan_name, class: "form-control", placeholder: "Loan Name" %>
    <%= form.label :loan_name, "Loan Name" %>
  </div>

  <div class="form-floating mb-3">
    <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "Choose a category" }, { class: "form-select", placeholder: "Payment Category" } %>
    <%= form.label :category_id, "Payment Category" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <div class="form-floating">
      <%= form.text_field :balance_dollars, class: 'form-control', placeholder: "Current Balance", data: { type: 'number', controller: 'number-input', action: 'blur->number-input#format' } %>
      <%= form.label :balance_dollars, "Current Balance" %>
    </div>
  </div>

  <div class="form-group text-end">
    <button type="button" class="btn btn-secondary" onclick="history.back()">
      <i class="bi bi-arrow-left"></i> Back
    </button>
    <button type="submit" class="btn btn-primary mt-3">
      <i class="bi bi-check-lg"></i> <%= @loan.persisted? ? "Update" : "Create" %>
    </button>
  </div>
<% end %>