<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header h4 d-flex justify-content-between align-items-center">
          Loan for <%= @loan.loan_name %>
          <div class="d-flex align-items-center">
            <% if @loan.paid_off? %>
              <span class="badge bg-success ms-o ms-2">Paid off <%= @loan.last_payment.payment_date.year %></span>
            <% end %>

            <span class="badge bg-primary m-0 ms-2">
              <%= number_to_percentage(@loan.percent_complete, precision: 2) %>
            </span>
          </div>
        </div>
        <div class="card-body">
          <p><strong>Payment Category:</strong> <%= link_to @loan.category.name, category_path(@loan.category) %></p>
          <p><strong>Balance:</strong> <%= number_to_currency(@loan.balance_dollars) %></p>
          <p><strong>Total Paid:</strong> <%= number_to_currency(@loan.total_paid_dollars) %></p>
          <p><strong>Total Principal Paid:</strong> <%= number_to_currency(@loan.total_principal_paid_dollars) %></p>
          <p><strong>Total Interest Paid:</strong> <%= number_to_currency(@loan.total_interest_paid_dollars) %></p>

          <div class="text-end">
            <button class="btn btn-secondary" onclick="history.back()">Back</button>
            <%= link_to 'Edit', edit_loan_path(@loan), class: 'btn btn-warning' %>
            <% unless @loan.paid_off? %>
              <%= link_to 'Add Payment', new_loan_payment_path(loan_id: @loan), class: 'btn btn-success' %>
            <% end %>
          </div>
        </div>
      </div>

      <% if @loan.loan_payments.any? %>
        <div class="card mt-4">
          <div class="card-header h5">
            Payments by year
          </div>
          <div class="card-body">
            <% @loan.payments_by_year.each do |year, payments| %>
              <h5 class="ms-2"><%= year %></h5>
              <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Amount Paid</th>
                    <th>Interest Paid</th>
                    <th>Principal Paid</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% payments.each do |payment| %>
                    <tr>
                      <td><%= payment.payment_date.strftime("%Y-%m-%d") %></td>
                      <td><%= number_to_currency(payment.paid_amount / 100.0) %></td>
                      <td><%= number_to_currency(payment.interest_amount / 100.0) %></td>
                      <td><%= number_to_currency((payment.paid_amount - payment.interest_amount) / 100.0) %></td>
                      <td>
                        <%= link_to 'Delete', loan_payment_path(payment), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                    <td><strong>Total</strong></td>
                    <td><strong><%= number_to_currency(@totals_by_year[year][:total_paid] / 100.0) %></strong></td>
                    <td><strong><%= number_to_currency(@totals_by_year[year][:total_interest] / 100.0) %></strong></td>
                    <td><strong><%= number_to_currency(@totals_by_year[year][:total_principal] / 100.0) %></strong></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>