<%= form_with model: @goal, local: true, html: { class: 'form-horizontal', data: { controller: 'form', action: 'submit->form#submit' } } do |form| %>
  <div class="form-floating mb-3">
      <%= form.text_field :goal_name, class: "form-control", placeholder: "Goal Name" %>
      <%= form.label :goal_name, "Goal Name" %>
  </div>

  <div class="form-floating mb-3">
      <%= form.collection_select :category_id, @categories, :id, :name, { prompt: "Choose a category" }, { class: "form-select", placeholder: "Transaction Category" } %>
      <%= form.label :category_id, "Transaction Category" %>
  </div>

  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <div class="form-floating">
      <%= form.text_field :amount_dollars, class: 'form-control', placeholder: "Goal Amount", data: { type: 'number', controller: 'number-input', action: 'blur->number-input#format' } %>
      <%= form.label :amount_dollars, "Goal Amount" %>
    </div>
  </div>
  
  <div class="form-group text-end">
    <button type="button" class="btn btn-secondary" onclick="history.back()">
      <i class="bi bi-arrow-left"></i> Back
    </button>
    <button type="submit" class="btn btn-primary">
      <i class="bi bi-check-lg"></i> <%= @goal.persisted? ? "Update" : "Create" %>
    </button>
  </div>
<% end %>