<%= form_with model: @goal, local: true, html: { class: 'form-horizontal', data: { controller: 'form', action: 'submit->form#submit' } } do |form| %>
  <div class="form-floating mb-3">
      <%= form.text_field :goal_name, class: "form-control", placeholder: "Goal Name" %>
      <%= form.label :goal_name, "Goal Name" %>
  </div>

    <% category_input_id = "#{form.object_name}_category_id" %>
  <div class="mb-3" data-controller="select-filter">
    <div class="form-floating">
      <input type="text" class="form-control" placeholder="Transaction Category" id="<%= category_input_id %>" data-select-filter-target="input" data-action="input->select-filter#filter keydown->select-filter#handleKeydown focus->select-filter#openDropdown blur->select-filter#closeDropdown" />
        <%= form.collection_select :category_id, @categories, :id, :name, { include_blank: true }, { class: "form-select d-none", id: "#{category_input_id}_select", data: { select_filter_target: "select", action: "change->select-filter#syncInput" } } %>
        <%= form.label :category_id, "Transaction Category", for: category_input_id %>
      </div>
    </div>

  <div class="input-group mb-3">
    <span class="input-group-text">$</span>
    <div class="form-floating">
      <%= form.text_field :amount_dollars, class: 'form-control', placeholder: "Goal Amount", data: { type: 'number', controller: 'number-input', action: 'blur->number-input#format' } %>
      <%= form.label :amount_dollars, "Goal Amount" %>
    </div>
  </div>
  
  <div class="form-group text-end">
    <button type="button" class="btn btn-secondary" onclick="history.back()">
      <i class="bi bi-arrow-left"></i> Back
    </button>
    <button type="submit" class="btn btn-primary">
      <i class="bi bi-check-lg"></i> <%= @goal.persisted? ? "Update" : "Create" %>
    </button>
  </div>
<% end %>