<div class="container<%= dashboard ? "-fluid" : "" %> mb-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Goals</h1>
    <% unless dashboard %>
      <%= link_to 'Add New Goal', new_goal_path, class: 'btn btn-primary' %>
    <% end %>
  </div>

  <% if @goals.empty? %>
    <div id="empty-state" class="text-center mt-4">
      <h3>No goals found</h3>
    </div>
  <% else %>
    <table class="table table-bordered table-hover mt-4 align-middle">
      <thead>
        <tr class="text-center">
          <th>Goal Name</th>
          <th>Category</th>
          <th>Goal Amount</th>
          <th>Total Contributed</th>
          <th>Amount Left</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if @active_goals.any? %>
          <tr class="highlight"><td colspan="6"><strong>Active Goals</strong></td></tr>
          <% @active_goals.each do |goal| %>
            <tr>
              <td>
                <div class="d-flex justify-content-between">
                  <%= goal.goal_name %>
                  <% if goal.complete? %>
                    <span class="badge bg-success m-0">100%</span>
                  <% else %>
                    <span class="badge bg-primary m-0">
                      <%= number_to_percentage(goal.percent_complete, precision: 2) %>
                    </span>
                  <% end %>
                </div>
              </td>
              <td><%= link_to goal.category.name, category_path(goal.category) %></td>
              <td><%= number_to_currency(goal.amount_dollars) %></td>
              <td><%= number_to_currency(goal.total_contributed_dollars) %></td>
              <td><%= number_to_currency(goal.amount_left_dollars) %></td>
              <td>
                <%= link_to 'Details', goal_path(goal), class: 'btn btn-info btn-sm' %>
                <%= link_to 'Edit', edit_goal_path(goal), class: 'btn btn-warning btn-sm' %>
                <%= link_to 'Delete', goal_path(goal), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                <%= link_to 'Add Contribution', new_transaction_path({category_id: goal.category, description: "Contribution to #{goal.goal_name} goal"}), class: 'btn btn-success btn-sm' %>
              </td>
            </tr>
          <% end %>
        <% end %>

        <% if @archived_goals.any? %>
          <tr class="highlight"><td colspan="6"><strong>Archived Goals</strong></td></tr>
          <% @archived_goals.each do |goal| %>
            <tr>
              <td>
                <div class="d-flex justify-content-between">
                  <%= goal.goal_name %>
                  <span class="badge bg-primary m-0">
                    <%= number_to_percentage(goal.percent_complete, precision: 2) %>
                  </span>
                </div>
              </td>
              <td><%= link_to goal.category.name, category_path(goal.category) %></td>
              <td><%= number_to_currency(goal.amount_dollars) %></td>
              <td><%= number_to_currency(goal.total_contributed_dollars) %></td>
              <td><%= number_to_currency(goal.amount_left_dollars) %></td>
              <td>
                <%= link_to 'Details', goal_path(goal), class: 'btn btn-info btn-sm' %>
                <%= link_to 'Edit', edit_goal_path(goal), class: 'btn btn-warning btn-sm' %>
                <%= link_to 'Delete', goal_path(goal), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>