<%= turbo_frame_tag "flash_messages" do %>
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050" data-controller="flash">
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show shadow-sm mb-2" role="alert" data-persist="<%= flash[:persist] %>">
        <div class="d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2"></i>
            <div><%= notice %></div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show shadow-sm mb-2" role="alert" data-persist="<%= flash[:persist] %>">
        <div class="d-flex align-items-center">
             <i class="bi bi-exclamation-triangle-fill me-2"></i>
             <div><%= alert %></div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>
<% end %>