<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%= stylesheet_link_tag "flatpickr/dist/themes/dark.css", id: "flatpickr-dark-theme", disabled: true %>

  <body class="d-flex min-vh-100" data-controller="theme">
    <%= render 'layouts/sidebar' %>

    <main class="flex-grow-1 overflow-auto" style="height: 100vh; margin-left: 280px;">
      <div class="container-fluid p-4">
        <!-- Flash Messages -->
        <%= render 'layouts/flash_messages' %>

        <!-- Show Model Errors -->
        <%= render 'layouts/model_errors' %>
        
        <%= yield %>
      </div>
    </main>
  </body>
</html>
